*, *::before, *::after { box-sizing: border-box; }

html {
  min-width: 320px;
}

body {
  background-color: #373740;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
}

.content p {
  line-height: 1.6;
/*  text-align: justify;*/
}

h1, h2, h3, h4, h5, h6 { font-family: "Montserrat", sans-serif; }

a {
  text-decoration: none;
  color: white;
}

.content a {
  border-bottom: 1px inset white;
/*  color: blue;*/
}

.enlightenment a {
  color: black;
  border-bottom: 1px inset black;
}

a img {
  border: none;
}

.emphasis {
  font-size: 1.2em;
/*  font-weight: 700;*/
/*  color: #feffda;*/
/*  letter-spacing: 1px;*/
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.34);
}

/*------IMG-STYLES------*/

.container a img {

border: none !important;

}

.no-underline {
  border: none !important;
}

.content img {
  max-width: 100%;
  height: auto;
}

.img-thumb {
  width: 10em;
  height: auto;
  padding: 1em;
  display: block;
}

.img-small {
  width: 15em;
  height: auto;
  padding: 1em;
}

.img-medium {
  width: 25em;
  height: auto;
  padding: 1em;
}

.img-large {
  width: 50em;
  height: auto;
  padding: 1em;
}

.img-fullwidth {
  width: 100%;
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  display: block;
}

.img-left {
  float: left;
}

.img-right {
  float: right;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

a:hover .img-thumb,
a:hover .img-small,
a:hover .img-medium,
a:hover .img-large,
a:hover .img-fullwidth {
  opacity: 0.9;
}

.img-caption {
  max-width: 100%;
  height: auto;
}

.img-caption h4 {
  margin: 0 0 1em 1em;
  cursor: default;
}

.lightbox-wrapper .img-responsive {
  width: 75%;
  height: auto;
}

/*------NAVIGATION------*/

.nav-container {
  position: relative;
  width: 100%;
/*  padding-left: 2em;*/
/*  padding-top: 1em;*/
}

.name-header {
  list-style: none;
  float: left;
  display: inline-block;
/*  padding-left: 2em;*/
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
/*  padding: 1em;*/
}

#logo {
  float: left;
  margin: 2em;
  position: relative;
  padding-left: 2em;
/*  z-index: -1;*/
}

.navigation {
/*  position: relative;*/
/*  visibility: hidden;*/
/*  background-color: rgba(0, 0, 0, 0.7);*/
  transition: background-color 0.25s linear;
}

.navigation.fixed {
  position: fixed;
  width: 100%;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
/*  float: right;*/
/*
  padding-top: 2em;
  padding-right: 3em;
*/
}

.navigation li {
  display: inline-block;
  padding: 1em;
}

.navigation .bullet {
  padding-left: 0;
  padding-right: 0;
}

.navigation a:hover, .navigation a:focus, .navigation a:active {
  border-bottom: 2px inset #373740;
/*  opacity: 0.8;/*/
}

.navigation a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

/*------HOMEPAGE------*/

video.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

#header-content-image {
/*  background-image: url(images/site/Test_0045.jpg);*/
  background: transparent;
/*  background: transparent url("http://bricksinmotion.com/movie/wp-content/uploads/2016/01/header_bricks.jpg") no-repeat fixed 50% 0px*/
  background-attachment: fixed;
  background-size: cover;
  padding: 12% 0 12%;
  text-transform: uppercase;

  text-align: center;
  color: white;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.55);
  cursor: default;
}

#header-content-image.fixed {
  margin-bottom: 4em;
}

#header-content-image h2 {
 font-size: 2em;
  margin: 0;
}

#header-content-image h1 {
 font-size: 5em;
  margin: 0;
}

.large-headers {
  font-size: 8em;
  margin: 0;
  padding: 0;
}

.center-frame {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#quote {
  font-size: 1.1em;
  cursor: default;
  text-align: center;
  color:#faff3e;
}

#quote em {
  font-size: 0.9em;
}

/*------PORTFOLIO------*/

#reel-header {
  position: relative;
  text-align: center;
  padding: 0.5em;
  font-size: 1em;
/*  bottom: 2em;*/
  letter-spacing: 5px;
  background-color: rgba(0, 0, 0, 0.95);
  overflow: hidden;
  margin-bottom: 0;
}

#reel-header a {
  color: white;
}

#portfolio-style {
  background-color: #0a0a0a;
  width: 100%;
  padding-bottom: 2em;
}

#portfolio-style h1 {
  position: relative;
  color: rgba(0, 0, 0, 0.83);
  text-align: left;
  cursor: default;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#portfolio-style > p {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  color: rgb(20, 20, 20);
}

#port-frame {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#port-frame a {
  display: block;
  border-bottom: none;
  vertical-align: middle;
}

.port-image {
  padding-bottom: 2em;
}

.port-image img:hover {
  opacity: 0.9;
}

/*------PORTFOLIO------*/

.film-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  padding-top: 2em;
  padding-bottom: 0.5em;

  /*background-color: #0A0A0A;*/
  /*background-color: #272525;*/
  background-color: #373740;
}

.film-row > .film { cursor: pointer; }

.film:hover,
.film:focus,
.film:active,
.film-detail img:hover,
.film-detail img:focus,
.film-detail img:active {
  opacity: 0.9;
}

.film > .title {
  text-align: center;
  text-shadow: 0 0 1em rgba(0, 0, 0, 0.55);
  color: #fff;
}

.film > img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.55);
}

.film-detail {
  max-height: 0;
  overflow: hidden;
  padding-right: 2em;
  padding-left: 2em;

  background-color: #fff;
  display: flex;

  transition: max-height 0.3s ease;
}
.film-detail.visible { max-height: 120em; }

.film-detail > .video-container {
  margin-right: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.film-detail h1 { margin: 0; }

.film-detail a {
  font-size: 1.1em;
  color: blue;
}

.film-detail a:hover,
.film-detail a:focus,
.film-detail a:active {
  border-bottom: 2px inset #373740;
}

.film-detail > .details {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.details > .images {
  margin-top: 1.5em;
}

.details .year {
  font-size: 0.6em;
  font-weight: 400;
}

.images a:hover,
.images a:focus,
.images a:active { border-bottom: none; }

.images img {
  margin-top: 0.5em;
  margin-right: 0.5em;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

/*------CONTACT------*/

#about h1 {
  position: relative;
  float: right;
  cusor: default;
}

#about ul {
  padding-right: 35%;
  text-shadow: 0 0 5px black;
}

.contact .large-headers {
  margin-top: 0.05em;
}

.contact.socialism a {
  font-size: 1.5em;
  color: white;
}

.contact {
/*  background-color: #151517;*/
  background-image: url(../images/site/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.contact h1 {
  position: relative;
  color: rgba(255, 255, 255, 0.27);
  text-align: left;
  cursor: default;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.contact ul {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  list-style: square;
/*  line-height: 2;*/
}

.contact li {
  margin-bottom: 1em;
}

.socialism-large {
  font-size: 5em;
  text-align: center;
  cursor: default;
  padding: 0.2em;
}

.socialism-large a {
  border-bottom: none;
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: white;
}

.socialism-large a:hover {
  color: rgba(222, 222, 222, 0.77);
}

#email-form-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

#email-form label {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 700;
}

#email-form label span {
  color: red;
}

#email-form input {

}

/*------FOOTER------*/

.footer {
  position: relative;
  background-color: white;
  width: 100%;
  height: 5em;
}

.footer i {
  font-size: 2em;
  color: #373740;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.footer i:hover {
  color: rgba(55, 55, 64, 0.72);
}

.socialism {
  margin-left: 1em;
  padding-top: 1.5em;
  cursor: default;
}

#credit {
/*  position: relative;*/
  float: right;
  color: #373740;
  margin: 0;
  margin-right: 1em;
  margin-top: -1.5em;
  padding: 0;
  cursor: default;
}

/*------QUERIES------*/

@media (max-width: 1126px) {
  #welcome-header {
    font-size: 7em;
    text-align: center;
  }
}

@media (max-width: 990px) {
  .large-headers {
    font-size: 5em;
  }

  #welcome-header {
    text-align: center;
    font-size: 7em;
  }
}

@media (max-width: 830px) {
  #welcome-header {
    margin-top: 0.8em;
    font-size: 6em;
  }
}

@media (max-width: 680px) {
  .large-headers {
    text-align: center !important;
    font-size: 3.2em;
    margin-top: 1em;
  }

  #welcome-header {
    margin-top: 1.3em;
    font-size: 4em;
  }
}

@media (max-width: 534px) {
  #welcome-header {
    margin-top: 1em;
    font-size: 3.2em;
  }
}

@media (max-width: 450px) {
  #header-content-image h1 { font-size: 2.95em; }
  #header-content-image h2 { font-size: 1.3em; }
}

@media (max-width: 355px) {
  .socialism {
    padding-top: 0.8em;
  }

  .footer {
    text-align: center;
  }

  #credit {
    float: none;
    margin: 0;
    float: none;
    margin-right: 0;
    margin-top: 0;
  }
}
