<div>
    <a id="rio-logo" href="https://rioforce.com">
        <img id="rioforce-logo-nav" alt="rioforce" width="50" height="50" src="/images/Rioforce-logo-round-white.png">
    </a>

    <ul class="nav-pages">
        <li><a href="https://rioforce.com#home">Home</a></li>
        <li><a href="https://rioforce.com#about">About</a></li>
        <li><a href="https://rioforce.com#portfolio">Videos</a></li>
        <li>
            <a title="YouTube" href="https://www.youtube.com/c/rioforce" rel="noopener noreferrer" target="_blank">
                <i class="fab fa-youtube"></i>
            </a>
        </li>
    </ul>
</div>