<div class="footer">
        <div class="socialism">
          <a title="YouTube" href="https://www.youtube.com/c/rioforce" target="_blank"><i class="fa fa-youtube-play"></i></a>
          <a title="Twitter" href="https://twitter.com/_rioforce" target="_blank"><i class="fa fa-twitter"></i></a>
          <a title="Facebook" href="https://www.facebook.com/Rioforce-Animations-889986401033861" target="_blank"><i class="fa fa-facebook-official"></i></a>
          <a title="LinkedIn" href="https://www.linkedin.com/in/rioforce" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>
        <h3 id="credit">&copy; 2016 Benjamin Ely</h3>
      </div>
    </div>
  </div>

  <!--<script src="lib/lightbox.min.js"></script>-->
  <script src="js/lib/smooth-scroll.min.js"></script>
  <script src="js/lib/microajax.js"></script>
  <script src="js/navigation.js"></script>
  <script src="js/film-display.js"></script>
  <script src="js/analyticalthinking.js"></script>
</body>
</html>
