<!--VIDEO-->
<div id="header-content-image">
  <video class="fullscreen" poster="images/site/Test_0045.jpg" loop autoplay>
    <source src="images/site/site-reel.mp4" type="video/mp4" />
  </video>
  <div id="header-text">
    <h1>Benjamin Ely</h1>
    <h2>Animator &#8226; Filmmaker</h2>
  </div>
  <div class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li class="bullet">&#8226;</li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li class="bullet">&#8226;</li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
