<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,700|Montserrat:400,700">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
  <!--<link rel="stylesheet" href="lib/lightbox.min.css">-->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <!--  ENTIRE SITE-->
  <div class="container">
    <!--    STUFF IN THE SITE-->
    <div class="content">