<span id="portfolio"></span>
<div id="portfolio-style" class="enlightenment">
  <!--    <h1 class="large-headers">Portfolio</h1>-->
  <h2 id="reel-header"><a href="https://www.youtube.com/watch?v=2I6oOjQxp1E">Check out my Animation Reel</a></h2>
  <div id="port-frame">

    <div class="port-item">
      <div class="port-image">
        <a href="https://www.youtube.com/watch?v=dItLs5GZzsM"><img src="images/portfolio/banners/mech-banner.jpg" /></a>
<!--        <a href="film/mech.html"><img src="images/portfolio/banners/mech-banner-hover.jpg" /></a>-->
      </div>
    </div>

    <div class="port-item">
      <div class="port-image">
        <a href="https://www.youtube.com/watch?v=U7DAyfSv6kM"><img src="images/portfolio/banners/undenial-banner.jpg" /></a>
<!--        <a href="film/undenial.html"><img src="images/portfolio/banners/undenial-banner-hover.jpg" /></a>-->
      </div>
    </div>

    <div class="port-item">
      <div class="port-image">
        <a href="https://www.youtube.com/watch?v=Ys8pmM6RKNE"><img src="images/portfolio/banners/sola-banner.jpg" /></a>
<!--        <a href="film/sola-luna.html"><img src="images/portfolio/banners/sola-banner-hover.jpg" /></a>-->
      </div>
    </div>

    <div class="port-item">
      <div class="port-image">
        <a href="https://www.youtube.com/watch?v=ZAr-7xs6TsA"><img src="images/portfolio/banners/bimdoc-banner.jpg" /></a>
<!--        <a href="film/bim-doc.html"><img src="images/portfolio/banners/bimdoc-banner-hover.jpg" /></a>-->
      </div>
    </div>


  </div>
</div>