<span id="portfolio"></span>
<div class="film-library">
  <h2 id="reel-header"><a href="https://www.youtube.com/watch?v=2I6oOjQxp1E">Check out my Animation Reel</a></h2>
  <div class="film-row">
    <div class="film" id="race-legend">
      <img width="320" height="137" src="images/portfolio/race-legend/race-frame.jpg">
      <h3 class="title">Race of a Legend</h3>
    </div>

    <div class="film" id="hungry-harry">
      <img width="320" height="137" src="images/portfolio/harry-frame.jpg">
      <h3 class="title">Hungry Harry</h3>
    </div>
  </div>

  <div class="film-row">
    <div class="film" id="mech">
      <img width="320" height="137" src="images/portfolio/mech/mech-frame.jpg">
      <h3 class="title">MECH</h3>
    </div>

    <div class="film" id="undenial">
      <img width="320" height="137" src="images/portfolio/undenial/undenial-frame.jpg">
      <h3 class="title">(un)denial</h3>
    </div>

    <div class="film" id="bimdoc">
      <img width="320" height="137" src="images/portfolio/bimdoc/bimdoc-frame.jpg">
      <h3 class="title">Bricks in Motion Additional VFX</h3>
    </div>
  </div>

  <div class="film-row">
    <div class="film" id="sola-luna">
      <img width="320" height="137" src="images/portfolio/sola-luna/sola-frame.jpg">
      <h3 class="title">Sola Luna</h3>
    </div>

<!--
    <div class="film" id="arose">
      <img width="320" height="137" src="images/portfolio/thumbnail.jpg">
      <h3 class="title">Arose</h3>
    </div>
-->
  </div>
</div>
